# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SintefSemantic.iml
# Datasource local storage ignored files
/../../../../../../../../:\Prosjekter\SINTEF\semantic\SintefSemantic\.idea\.idea.SintefSemantic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
